<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">过滤器</a>
		</li>
	</ul>
</div>
<h3 class="page-title">
	过滤器
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="filtersCtrl">

	<div class="note note-success note-bordered">
		<p>
			理解filter，参考：
			<a href="http://docs.ngnice.com/guide/filter" target="_blank">
				AngularJS Filter
			</a>
			<br />
			angular内建filter，参考：
			<a href="http://www.tuicool.com/articles/ueUZBv" target="_blank">
				走进AngularJs(七) 过滤器
			</a>
		</p>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-12"><h3>内建filter举例</h3></div>
		<div class="col-sm-12">
			<a class="btn btn-info" ng-click="getNowDate()">当前时间</a>
			输入格式：<input type="text" ng-model="dateFomate" /> 
			&nbsp;<span class="label label-danger">{{ nowDate | date:dateFomate}}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-12"><h3>自定义filter及用法</h3></div>
		<div class="col-sm-12">
			输入字符串：<input type="text" ng-model="filterModel" /> 
			&nbsp;<span class="label label-danger">{{ filterModel | myFilter:'yyyy-MM-dd HH:mm:ss':-1:'\\\\\\':'我' | uppercase}}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-12"><h3>在Controller和service中使用filter举例</h3></div>
		<div class="col-sm-12">
			<a class="btn btn-info" ng-click="testFilter()">controller过滤</a>
			输入字符串：<input type="text" ng-model="filterModel2" /> 
			&nbsp;<span class="label label-danger">{{ ctrlFilterModel}}</span>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
