<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">参考链接</a>
		</li>
	</ul>
</div>
<h3 class="page-title">
	参考链接
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>

	<div class="note note-success note-bordered">
		<h3>Angular官网</h3>
		<p>
			<a href="https://angularjs.org/" target="_blank">
				https://angularjs.org/
			</a>
		</p><br/>
		<h3>Angular社区之开发者指导（英文）</h3>
		<p>
			<a href="https://docs.angularjs.org/guide" target="_blank">
				https://docs.angularjs.org/guide
			</a>
		</p><br/>
		<h3>Angular社区之开发者指导（半吊子烂翻中文）</h3>
		<p>
			<a href="http://docs.ngnice.com/guide" target="_blank">
				http://docs.ngnice.com/guide
			</a>
		</p><br/>
		<h3>Angular菜鸟教程</h3>
		<p>
			<a href="http://www.runoob.com/angularjs/angularjs-tutorial.html" target="_blank">
				http://www.runoob.com/angularjs/angularjs-tutorial.html
			</a>
		</p><br/>
		<h3>用Angular实现的Bootstrap模板</h3>
		<p>
			<a href="http://angular-ui.github.io/bootstrap/" target="_blank">
				http://angular-ui.github.io/bootstrap/
			</a>
		</p><br/>
		<h3>Angular UI之插件</h3>
		<p>
			<a href="https://github.com/angular-ui" target="_blank">
				https://github.com/angular-ui
			</a>
		</p><br/>
		<h3>Angular之ui-router</h3>
		<p>
			<a href="https://github.com/angular-ui/ui-router" target="_blank">
				https://github.com/angular-ui/ui-router
			</a>
		</p><br/>
		<h3>Angular之restAngular</h3>
		<p>
			<a href="http://gon.to/2013/04/09/restangular-new-angular-framework-to-handle-restful-resources-properly-and-easily/" target="_blank">
				http://gon.to/2013/04/09/restangular-new-angular-framework-to-handle-restful-resources-properly-and-easily/
			</a>
		</p>
		<p>
			<a href="https://github.com/mgonto/restangular" target="_blank">
				https://github.com/mgonto/restangular
			</a>
		</p><br/>
		<h3>Angular实战之慕课网教学视频</h3>
		<p>
			<a href="http://www.imooc.com/learn/156" target="_blank">
				http://www.imooc.com/learn/156
			</a>
		</p><br/>
		<h3>Angular的Blog</h3>
		<p>
			<a href="https://blog.angularjs.org/2014/02/an-angularjs-style-guide-and-best.html" target="_blank">
				https://blog.angularjs.org/2014/02/an-angularjs-style-guide-and-best.html
			</a>
		</p><br/>
		
		<h3>Bootstrap之系统前台模板</h3>
		<p>
			<a href="http://www.bootstrapzero.com/" target="_blank">
				http://www.bootstrapzero.com/
			</a>
		</p><br/>
		<h3>Angular的主题模板</h3>
		<p>
			<a href="http://www.weidea.net/post/34718" target="_blank">
				http://www.weidea.net/post/34718
			</a>
		</p><br/>
	</div>
</div>
<!-- END MAIN CONTENT -->
