<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">angularjs操作DOM</a>
		</li>
	</ul>
</div>
<h3 class="page-title">
	angularjs操作DOM
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="echartBarController">

	<div class="note note-success note-bordered">
		<p>
			1.angularjs也可以操作DOM元素，虽然ng并不推荐这么做。
		</p>
		<p>
			2.如果真的需要操作DOM元素，ng推荐在自定义指令的link中完成。
		</p>
		<p>
			3.当然，为了兼容jquery丰富的插件，有时我们也会试图用DOM的方式来操作View
		</p>
		<span class="label label-danger">记住:</span> 
			4.通过jqLight或jquery操作，改变了view中的model，不会发生数据双向绑定。请参考：<a ng-click="$state.go('dataBind')">数据双向绑定原理</a>
		</p>
	</div>
	<hr />
	<div style="height:500px;" id="barDiv"></div>
	<hr /> 数据双向绑定：
	<input ng-model="inputShow" type="text" /><br /><br /> 测试点击按钮：
	<button ng-click="clickEvent()" type="button" id="testBtn">点来试试</button>
	<div class="note note-success note-bordered">
		<textarea cols="2" style="width: 800px;">angular.element( document.getElementById("testBtn") ).after("<input type='text' value='" + $scope.inputShow + "'>");
		</textarea>
	</div>
</div>
<!-- END MAIN CONTENT -->