<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Dashboard</a>
		</li>
	</ul>
</div>
<h3 class="page-title">
	Agularjs简介
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>

	<div class="note note-success note-bordered">
		<h3>Meet Metronic AngularJS Version! <span class="close" data-close="note"></span></h3>
		<p>
			AngularJS version of Metronic gives an extremely fast browsing experience to users. 
			It uses lazy loading of dependency resources(modules, controllers, templates, jquery plugins, javascripts and even css files) on demand.
			UI-Router is used for flexible routing with nested views. UI Bootstrap enables using all Bootstrap framework components 
			with pure AngularJS directives.
		</p>
		<span class="label label-danger">NOTE:</span> All Metronic features from the HTML version(pages, layout options, components, plugins, etc) are fully compatible in the AngularJS version.</span>
		</p>
	</div>

	<div class="row">
	</div>
</div>
<!-- END MAIN CONTENT -->
